---
import '@/styles/global.css';
---

<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Global Methadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <!-- Fonts Preloads -->
    <link rel="preload" href="/public/fonts/lato-latin-100-normal.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/public/fonts/lato-latin-300-normal.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/public/fonts/lato-latin-400-normal.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/public/fonts/lato-latin-700-normal.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/public/fonts/lato-latin-900-normal.woff" as="font" type="font/woff" crossorigin>

  

    <title>Document</title>
</head>
<body>
    <main class="font-sans">
        <slot />
    </main>
</body>
</html>