---
import '@/styles/global.css';
---

<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Global Methadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <!-- Fonts Preloads -->
    <link rel="preload" href="/fonts/Inter-Black.ttf" as="font" type="font/ttf" crossorigin>
    <link rel="preload" href="/fonts/Inter-Bold.ttf" as="font" type="font/ttf" crossorigin>
    <link rel="preload" href="/fonts/Inter-ExtraBold.ttf" as="font" type="font/ttf" crossorigin>
    <link rel="preload" href="/fonts/Inter-ExtraLight.ttf" as="font" type="font/ttf" crossorigin>
    <link rel="preload" href="/fonts/Inter-Light.ttf" as="font" type="font/ttf" crossorigin>
    <link rel="preload" href="/fonts/Inter-Medium.ttf" as="font" type="font/ttf" crossorigin>
    <link rel="preload" href="/fonts/Inter-Regular.ttf" as="font" type="font/ttf" crossorigin>
    <link rel="preload" href="/fonts/Inter-Semibold.ttf" as="font" type="font/ttf" crossorigin>
    <link rel="preload" href="/fonts/Inter-Thin.ttf" as="font" type="font/ttf" crossorigin>
  

    <title>Document</title>
</head>
<body>
    <slot />
</body>
</html>